 <div class=" ParentDiv">
  <h1 style="color: crimson;" class="p-50">Parent Component </h1>
  <div class="row p-50">
    

<!--  
    <div class="col-md-6 ChildDiv" style="color: whitesmoke;">
      <h2 style="color: aquamarine;">Field Component</h2>
     <form [formGroup]= "personForm"> 
     <div class="formGroup">
       
        <label>Id</label>
          <input type="number" formControlName="id">
          <label>Name</label>
          <input type="text" formControlName="name">
         <label>Class</label>
          <input type="text" formControlName="class">
          <label>Age</label>
          <input type="number" formControlName="age">
    <div>
      <button type="button" class="btn btn-success" (click)="Submit()" *ngIf="isUpdate">Submit</button>
         <button type="button" class="btn btn-primary"(click)="update()" *ngIf="isUpdate">Update</button>
    </div>
      </div>
      
    </form>
  </div>
 
    <div class="col-md-6 ChildDiv" style="color: whitesmoke;">
      <h2 style="color: darkgoldenrod;">Table Component</h2>
       <select class="p-20"> 
        <option value="id" selected>Id</option>
       <option value="name">Name</option>
       <option value="class">Class</option>
       <option value="age">Age</option>   
       </select>       
  <div>
  
  <input type="search" [(ngModel)]="search_type">
  <button type="button" class="btn btn-success"(click)="search()">Search</button>
  
  </div>
      <table class="table table-hover">
        <tr style="background-color: w;">
          <th>Id</th>
          <th>Name</th>
          <th>Class</th>
          <th>Age</th>
        </tr>
          <tr *ngFor="let person of persons;let i=index;">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.class}}</td>
            <td>{{person.age}}</td>
            <td><button (click)="delete(i)">Delete </button></td>
            <td> <button (click)="edit(person,i)">Edit</button></td>
       </table>
    
    </div>
  </div>   -->
  
  <div class="row">
    <div class="col-md-6 ChildDiv" style="color: whitesmoke;">
        <app-field (formData)="getFormData($event)"></app-field>
    </div>
    <div class="col-md-6 ChildDiv" style="color: whitesmoke;">
        <app-table [tableData]='tableData'></app-table>  
    </div>
</div>